body {
  margin: 0px;
  height: 100vh;
  font-family: Arial, sans-serif;
}

input {
  font-size: 16px;
  width: 300px;
  padding: 13px 0;
}
input:focus {
  outline: none;
}
input[type=text] {
  color: #464646;
  margin: 0 0 0 5px;
}
input[type=submit] {
  font-size: 14px;
  width: 185px;
  border-width: 0px;
  border-radius: 15px;
  margin: 20px;
}
input[type=submit]:hover {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}
input.blue-button {
  background-color: dodgerblue;
  color: white;
  font-size: smaller;
  max-width: 200px;
  border-radius: 0px;
  border: 1px solid #156bbd;
  float: right;
  padding: 10px 2px;
  margin: 0;
}

.header, .header-links, .header-advance-logo, .header-advance {
  display: flex;
  align-items: center;
}
.header a, .header-links a, .header-advance-logo a, .header-advance a {
  color: black;
  padding: 10px;
  text-decoration: none;
}
.header-advance {
  background-color: #f1f1f1;
  height: 50px;
}
.header-advance-logo {
  padding: 10px;
}
.header-advance-logo img {
  height: 30px;
}
.header-links {
  margin-left: auto;
}

.app-bar {
  margin: 30px 10px;
}
.app-bar label {
  color: #d93025;
  font-size: 20px;
  margin: 50px 30px;
}

.separator-line {
  border-bottom: solid 1px #d6d6d6;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.search-container .search-field {
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  border: 1px solid #afafaf;
  align-items: center;
  margin: 10px;
  padding-left: 15px;
}
.search-container .search-field input {
  border: none;
  border-radius: 25px;
}
.search-container .logo-subtext {
  color: #4285f4;
  position: relative;
  left: 110px;
  top: -18px;
}

.advance-search-container {
  margin: 50px 40px;
}
.advance-search-container label {
  display: inline-block;
  width: 16%;
  font-size: 20px;
}
.advance-search-container .whitespace {
  display: inline-block;
  width: 50%;
}
.advance-search-container .form-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px 0;
}
.advance-search-container .form-group label {
  width: 16%;
  font-size: 14px;
}
.advance-search-container .form-group input[type=text] {
  width: 49%;
  padding: 2px 0;
}

footer {
	position: absolute;
	bottom:0px;
	left:0px;
	right:0px;
	background:#f3f3f3;
	padding-top:22px;
	border-top: 1px solid #e9e9e9;
}

footer a:link, a:visited, a:active {
	color: #696969;
	font-family: arial, sans-serif;
	font-size:12px;
	text-decoration:none;
    }
    
footer a:hover {
	text-decoration:underline;
}
	
.left {
	position: relative;
	bottom:12px;
	left:18px;
	padding-right:15px;
	padding-left:15px;
}

.right {
	position: relative;
	bottom:9px;
	float:right;
	right:18px;
	padding-right:15px;
	padding-left:15px;
}
